.menu{
    display: flex;
    position: relative;
    color: red;
    list-style-type: none;
    justify-content: flex-end;
    column-gap: 25px;
    margin-right: 15%;


}

.bootstrap{
    display: flex;
    position: relative;
    top: 35px;
    margin-left: 15%;

}

.start{
   
    list-style-type: none;
    color: red;
}
a:link, .start { text-decoration: none; }